.leave-container {
  padding: 20px;
}

.leave-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.add-button {
  margin-right: 10px;
}

.home-button {
  color: #1976d2;
}

.leave-edit-form {
  padding: 20px;
}

.form-title {
  margin-bottom: 20px;
}

.superadmin-container {
  padding: 20px;
}